* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

main {
    min-width: 600px;
    max-width: 1000px;
    width: 80%;
    background: #3a3d5a;
    padding: 20px;
    border-radius: 10px;
}

button {
    color: white;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #4a4e69;
}

button:hover {
    border: 2px solid #00b4d8;
    border-radius: 5px;
}


#settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}

#settings label {
    height: 35px;
    width: 30%;
    font-size: 25px;
    text-align: center;
}

#settings input {
    height: 35px;
    width: 30%;
    font-size: 25px;
    text-align: center;
    background: transparent;
    color: #f8f9fa;
}

#settings button {
    height: 40px;
    font-size: 18px;
    width: 95%;
    color: #ffffff;
    background-color: #4a4e69;
    border: 2px solid #4a4e69;
    cursor: pointer;
    border-radius: 5px;
}

#settings button:hover {
    border: 2px solid #00b4d8;
}


#menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: bold;

    color: white;
}

#menu button {
    width: 30%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timer>.duration {
    text-align: center;
    font-size: 100px;
    background: transparent;
    color: #f8f9fa;
    width: 100%;
}

.timer button {
    width: 90%;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

#pomodoro-duration {
    color: #00b4d8;
}

#pomodoro-btn {
    background-color: #00b4d8;
}

#shortbreak-duration {
    color: #f77f00;
}

#shortbreak-btn {
    background-color: #f77f00;
}

#longbreak-duration {
    color: #be82e9;
}

#longbreak-btn {
    background-color: #be82e9;
}

.start-btn {
    background: #38b000;
}

.pause-btn {
    background: #d90429;
}

.reset-btn {
    background: #ffd60a;
}

#count {
    margin-top: 15px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}